* {
    margin: 0;
    padding: 0;
    border: none;
}


body {
    font-weight: 300;
    font-family: 'Bai Jamjuree', sans-serif;
    background: #fff;
}

/* generic styles */
.generic-section {
    margin: 0 3rem;
}

.basic-para {
    font-size: 20px;
}

.generic-container {
    margin: 0.5rem 3rem;
}

.black-heading {
    color: #000 !important;
    text-align: left;
}

.heading-wrapped {
    padding: 1rem 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.heading-wrapped h1 {
    font-size: 3rem;
    text-align: left;
    text-transform: capitalize;
    padding-right: 1rem;
}

#subject-to-change {
    font-size: 10px;
}

/* header */

#smaller-nav {
    display: none;
}

header {
    display: block;
}

.header-is-wrapped {
    background-color: #29abe2;
    height: 4rem;
    width: 100%;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    top: 0px;
}

.header-content-logo {
    padding: 0px 3rem;
    width: 100%;
}

.header-content {
    padding: 0px 3rem;
    min-width: fit-content;
}

.logo-header {
    max-width: 50px;
    max-height: 100%;
}

/* navigation list */
#menu {
    font-size: 150%;
    letter-spacing: 2px;
    text-align: right;
}

#menu li {
    display: inline;
    list-style-type: none;
    margin-right: 10px;
}

#menu a  {
    text-decoration: none;
    color: #000;
}

a.left{
    position: relative;
}

a.left:before {
  content: "";
  position: absolute;
  width: 0;
  margin-top: 20px;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

a.left:hover:before {
    visibility: visible;
    width: 100%;
}

/* back to top button */
.bck-to-top {
    display: none;
    position: fixed;
    bottom: 20px; 
    right: 30px; 
    z-index: 99; 
    border: none; 
    outline: none; 
    background-color: #000; 
    color:#fff; 
    cursor: pointer; 
    padding: 20px 25px; 
    border-radius: 10px; 
    font-size: 18px; 
    transition: all .5s;
}

.bck-to-top:hover {
    background-color: #fff;
    color: #000;
}

/* SECTION 1 */
.section-one {
    height: 100vh;
    overflow: hidden;
    background: #29abe2;
}

.first-sect {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.top-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    top: 6.5rem;
}

.hero-img {
    width: 50%;
}

.btns-wrapped {
    display: flex;
    flex-direction: column;
}

#oops {
    padding-right: 20px;
}

.tickets {
    text-decoration: none;
    border: 3px solid #1F1E20;
    border-radius: 25px;
    background: none;
    transition: all .5s;
    color: #1F1E20;
    cursor: pointer;
    text-transform: capitalize;
    z-index: 2;
    text-align: center;
}

.tickets-solid {
    text-decoration: none;
    border: 3px solid #000;
    border-radius: 25px;
    background: #000;
    transition: all .5s;
    color: #fff;
    cursor: pointer;
    text-transform: capitalize;
    z-index: 2;
    text-align: center;
    margin-top: 1rem;
}

.tickets:hover {
    background: #000;
    color: #fff;
}

.tickets h5 {
    padding: 1rem 2rem;
    font-weight: 500;
    font-size: 1.5rem;
}

.tickets-solid h5 {
    padding: 1rem 2rem;
    font-weight: 500;
    font-size: 1.5rem;
}


.cloud {
    width: 25%;
    height: auto;
    position: absolute;
}

.right-cloud {
    top: 10rem;
    right: 0;;
}

.left-cloud {
    top: 3rem;
    left: -20px;
}

.bottom-img {
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
}

/* SECTION 2 */
.section-two {
    margin: 0 3rem;
}

/* .event-sponsors {
    position: relative;
} */

.main-people-wrapped {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.sponsor-wrapped {
    width: 45%;
    display: flex;
    flex-direction: column;
    text-align: left;
}

#partnership {
    text-align: right;
}

.funded-by {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.funded-info {
    display: flex;
    justify-content: flex-end;
} 

.wigan {
    width: 60%;
}

.heading-main {
    padding: 1rem 0;
    display: flex;
}

.heading-main h1 {
    font-size: 3rem;
    text-align: left;
    text-transform: capitalize;
    padding-right: 1rem;
}

.heading-wrapped h3 {
    font-size: 2rem;
    font-weight: 400;
}

.sponsor {
    width: 100%;
}

/* section 3 -- whats happening */

.section-three {
    background: #fff;
    margin: 0 3rem;
}

.content-para {
    padding-bottom: 1rem;
}

.content-wrapped {
    column-count: 4;
}

.box {
    width: 100%;
    /* border-bottom: 5px solid #000; */
    display: flex;
    flex-direction: column;
}

.box h1 {
    text-transform: capitalize;
}

.box img {
    width: 100%;
    margin-bottom: 1rem;
}

hr {
    border-top: 3px solid #000;
    width: 100%;
    margin: 1rem 0;
    border-bottom: none;
}

.box h2 {
    font-weight: 500;
    font-size: 1.25rem;
    text-align: left;
    padding-bottom: .5rem;
}

.box h3 { 
    font-weight: 300;
    font-size: 1rem;
    text-align: left;
    padding-bottom: .5rem;
}

.tickets-btn {
    text-decoration: none;
    border: 3px solid #1F1E20;
    border-radius: 25px;
    background: none;
    transition: all .5s;
    color: #1F1E20;
    margin: 2rem 0;
    cursor: pointer;
    text-transform: capitalize;
    z-index: 2;
    text-align: center;
}

.tickets-btn h5 {
    padding: 1rem 0;
    font-weight: 500;
    font-size: 1.25rem;
}

.tickets-btn:hover {
    background: #000;
    color: #fff;
}

.beer-banner {
    background: #000;
    height: 150vh;
    overflow: hidden;
}


.beer-text-wrapped {
    padding: 2rem 5rem 0 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.generic-container h1 {
    text-align: center;
    text-transform: capitalize;
    font-size: 5rem;
    color: #fff;
}

.generic-container h2 {
    text-align: center;
    text-transform: capitalize;
    font-size: 2rem;
    color: #b3b3b3;
    font-weight: 400;
}

.generic-container h3 {
    text-align: center;
    text-transform: capitalize;
    font-size: 2rem;
    color: #b3b3b3;
    padding-top: 2rem;
    font-weight: 200;
}

.generic-container h4 {
    text-align: center;
    text-transform: capitalize;
    font-size: 1.5rem;
    color: #b3b3b3;
    font-weight: 200;
    padding-top: 1rem;
}

.generic-container h5 {
    text-align: center;
    text-transform: uppercase;
    font-size: 2rem;
    color: #fff;
    font-weight: 500;
    padding-top: 1rem;
}

.beer-img-wrapped {
    position: relative;
    bottom: 20rem;
}

.beer-image {
    position: relative;
    width: 30%;
}

.second-beer-img {
    float: right;
    width: 30%;
}

.bar-sponsors-wrapped {
    display: flex;
    flex-direction: row;
    width: 35%;
    justify-content: center;
}
.bar-sponsors-wrapped img {
    width: 100%;
}
/* .buy-btn {
    position: relative;
} */

.tickets-btn-white {
    text-decoration: none;
    border: 3px solid #fff;
    border-radius: 25px;
    background: none;
    transition: all .5s;
    color: #fff;
    margin: 2rem 0;
    cursor: pointer;
    text-transform: capitalize;
    z-index: 2;
    text-align: center;
    width: 50%;
}

.tickets-btn-white h5 {
    padding: 1rem 0;
    font-weight: 500;
    font-size: 1.25rem;
}

.tickets-btn-white:hover {
    background: #fff;
    color: #000;
}

/* buy tickets now, from ticket source */
.tickets-heading {
    padding: 1rem 3rem;
}

/* section-4 -- map */
.map img {
    width: 100%;
}

/* section-5 -- menu */
.section-five {
    margin: 0 3rem;
}

.beer-menu {
    display: grid;
    grid-template-columns: 32.5% 32.5% 32.5%;
    grid-template-rows: auto auto auto auto;
    grid-gap: 10px;
    padding: 20px 0;
} 

.menu h2 {
    font-weight: 400;
}


.menu-text-wrapped{
    display: flex;
    flex-direction: column;
    width: 50%;
}


.menu li {
    list-style: none;
}

.menu-item {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 2rem;
}

.menu-item img {
    width: 80%;
    padding-right: 1rem;
    float: right;
}

.menu-link {
    width: 50%;
}

.menu-item h3 {
    font-size: 1rem;
    font-weight: 400;
    text-transform: capitalize;
}

/* MIXED ABILITY MATCH */
#mixed-header {
    font-size: 2rem;
    padding-top: 2rem;
}

#mixed-sub-heading {
    font-size: 1.5rem;
    padding-top: 1rem;
    font-weight: 300;
}

.mixed-abilty-wrapped {
    display: flex;
    flex-direction: column;
}

.teams-wrapped {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 3rem 0;
}

.team-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
}

.team-wrapper h2 {
    margin-top: 1rem;
    font-size: 1.5rem;
    font-weight: 400;
}

.teams-wrapped img {
    width: 50%;
}

.teams-wrapped h3 {
    font-size: 5rem;
}

.mixed-sponsor-wrapped {
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
}

.mixed-sponsor-wrapped h4{
    font-size: 1.5rem;
}

.mixed-sponsor-wrapped img {
    width: 50%;
}

.mixed-ability-description-wrapped {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.mixed-ability-description-wrapped p {
    width: 60%;
}



/* jubilee section */
#jubilee-section {
    margin: 0 3rem;
}



.jubilee-wrapped {
    display: flex;
    flex-direction: column;
    justify-content: center;  
    padding-top: 2rem; 
}

.row-jub {
    position: relative;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: left;
    height: 5rem;
    padding-top: 1rem;
}

.text-wrapped-row {
    display: flex;
    flex-direction: row;
    padding: 1rem 0;
}

.text-wrapped-row p {
    font-size: 1rem;
}

a {
    color: #000;  
    text-decoration: none;  
}

.right-content {
    width: 20%;
}

.flags-wrapped {
    width: 100%;
    overflow: hidden;
    padding-bottom: 1rem;
}

.flags-wrapped img {
    width: 100%;
}

.queen-img {
    display: block;
    width: 100%;
    float: right;
}

.j-img {
    width: 10%;
}

/* sponsors */

.sponsors-wrapped {
    display: grid;
    grid-template-columns: 15% 15% 15% 15% 15% 15%;
    grid-template-rows: auto auto auto auto;
    grid-gap: 10px;
    padding: 20px 0;
}

.sponsors-wrapped img {
    width: 100%;
}

.sponsor-link {
    width: 80%;
}

/* Section for cups?? */

.cup-container {
    text-align: left;
    color: #000;
    margin: 0.5rem 3rem;
}

.cups-wrapped {
    width: 100%;
    overflow: hidden;
}

.cups-wrapped img {
    width: 100%;
}

/* tryit */
.trophie-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.width {
    width: 30%;
}

.middle-content-t img{
    width: 100%;
}

.right-content-t {
    text-align: left;
    text-transform: capitalize;
    font-size: 1rem;
}

.left-content-t {
    text-align: right;
}

/* foodvan */
.foodvans {
    margin: 0 3rem;
}

.foodvans h1 {
    padding: 1rem 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 3rem;
    text-align: left;
    text-transform: capitalize;
}

.food-van-wrapped {
    display: flex;
    flex-direction: row;
    padding-top: 3rem;
}

.food-van-img-wrapped {
    width: 65%;
    position: relative;
    left: -8rem;
    bottom: .5rem;
}

.food-van-img-wrapped img {
    width: 100%;
}

.foodvan-text-wrapped {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
}

.foodvan-text-wrapped ul {
    padding-top: 2rem;
}

.foodvan-text-wrapped li {
    padding-bottom: 1rem;
}


/* Music */
.music-schedule {
    display: grid;
    grid-template-columns: 24% 24% 24% 24%;
    grid-template-rows: auto auto auto auto;
    grid-gap: 10px;
    padding: 20px 0;
}

.band-wrapped {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.music-box {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.band-logo {
    width: 100%;
}

.img-band-wrapped {
    display: grid;
    grid-template-columns: 9% 9% 9% 9% 9% 9%;
    grid-template-rows: auto;
    grid-gap: 10px;
    padding: 20px 0;
}

.music-box h1 {
    font-size: 2rem;
    text-transform: capitalize;
}

.music-box h2 {
    font-size: 1.5rem;
    font-weight: 600;
    padding-bottom: 20px;
}

.music-box h3 {
    font-size: 1.7rem;
    text-transform: capitalize;
    font-weight: 300;
    padding-bottom: 10px;
}

#bands-p {
    font-size: 25px;
}

/* andys man club */
.andys {
    width: 100%;
    background: #2B2A29;
    overflow: hidden;
}

.andy-wrapped {
    padding: 1rem 3rem 0 3rem;
    color: #fff;
}

.andy-wrapped h1 {
    text-transform: uppercase;
    font-size: 4rem;
}

.andys-content-wrapped {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.left-wrapped-a {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.andys-article-wrapped {
    column-count: 2;
    padding-top: 2rem;
}

.andys-image {
    width: 25%;
    position: relative;
    bottom: -15px;
}

.andys-image img {
    width: 100%;
}

#andy-times {
    font-weight: 300;
}


/* Opportunities */

.opportunities-wrapped {
    background: #000;
}

.opportunities-text {
    display: flex;
    flex-direction: column;
    padding: 4rem;
    align-items: center;
}

.opportunities-text h1 {
    color: #fff;
    font-size: 2rem;
    padding-bottom: 5rem;
}

/* footer */
#footer {
    position: relative;
    bottom: 0;
    background: #000;
    overflow: hidden;
    padding: 1rem 3rem;
    margin-top: 4rem;
}

.footer-wrapped {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
}

.footer-logo {
    width: 30%;
}

.footer-logo img {
    width: 50%;
}

.footer-wrapped h1 {
    font-size: 2rem;
}

.footer-wrapped h2 {
    font-size: 1.5rem;
}

.footer-wrapped h3 {
    font-size: 1rem;
    font-weight: 400;
}

.social-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 30%;
}

.social {
    width: 85% !important;
    cursor: pointer;
}

/* try it section */

.try-it {
    background-color: #a4d4f3;
}

.tryit-container {
    margin: 2rem 3rem;
}

.tryit-header-wrapped {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
}

.tryit-header-wrapped img {
    width: 15%;
}

.tryit-header-wrapped h1{
    text-transform: uppercase;
    font-size: 2rem;
    padding-left: 1rem;
}

.tryit-content {
    margin: 1rem 0;
    padding-top: 2rem;
}

.tryit-content p {
    padding-bottom: 3rem;
    text-align: center;
}

.try-it-btn-wrapped {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.try-it-btn {
    text-decoration: none;
    border: 3px solid #000;
    border-radius: 25px;
    background: none;
    transition: all .5s;
    color: #000;
    margin: 2rem 0;
    cursor: pointer;
    text-transform: capitalize;
    z-index: 2;
    text-align: center;
    width: 50%;
}

.try-it-btn h5 {
    padding: 1rem 3rem;
    font-size: 1.5rem;
}

.try-it-btn:hover {
    background: #fff;
    color: #000;
}

/* tryit page */

.page-container {
    margin: 7rem 3rem;
}

.description-wrapped {
    display: flex;
    flex-direction: column;
}

.description-wrapped h1 {
    text-transform: capitalize;
}

.groups-wrapped {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 3rem;
}

.group-card {
    background: #f2f2f2;
    width: 40%;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 0 20px 8px #d0d0d0;
    
}

.group-card-wrapped h1{
    text-align: center;
}

.group-title {
    padding: 0.5rem;
}

.group-text {
    padding: 1rem;
}

.group-text h2 {
    font-weight: 400;
    padding-bottom: 0.5rem;
}

.try-it-sponsors-wrapped {
    margin-top: 3rem;
}

.sponsors-wrapped-try {
    display: grid;
    grid-template-columns: 15% 15% 15% 15% 15% 15%;
    grid-template-rows: auto auto auto auto;
    grid-gap: 22px;
    padding: 20px 0;
}

.sponsors-wrapped-try img {
    width: 100%;
}

/* media queries */

@media (max-width: 1000px) {
    /* header */

    /* Hero img */
    .hero-img {
        width: 65%;
    }

    /* main sponsors */
    .box {
        width: 23%;
    }

    .box h2 {
        font-size: 20px;
        text-align: left;
    }

    .content-wrapped {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }
    /* beer festival */
    

    /* map */

    /* menu */

    /* sponsors */

    /* jubilee section */
    .generic-container h1 {
        font-size: 4rem;
    }

    #bands-p {
        font-size: 20px;
    }

    .music-box h3 {
        font-size: 1.5rem;
    }

    .music-box h1 {
        font-size: 1.8rem;
    }

    /* andys mc */
    .left-wrapped-a {
        padding-bottom: 2rem;
    }

    #andy-times {
    font-size: 1.5rem;
    padding-top: 2rem;
    }

    .andys-image {
        width: 30%;
        position: relative;
        bottom: -90px;
    }

    /* footer */

}

@media (max-width: 900px) {
    /* header */

    /* Hero img */
    .cloud {
        width: 23%;
    }

    .tickets h5 {
        font-size: 1.2rem;
    }
    /* main sponsors */

    /* beer festival */

    .generic-container h1 {
        font-size: 4rem;
    }

    .generic-container h2 {
        font-size: 1.5rem;
    }

    .generic-container h3 {
        font-size: 1.5rem;
    }

    .generic-container h4 {
        font-size: 1.25rem;
    }

    .beer-img-wrapped {
        bottom: 190px;
    }

    .beer-banner {
        height: 125vh;
    }
    /* map */

    /* menu */

    /* sponsors */
    .sponsors-wrapped {
        grid-template-columns: 19% 19% 19% 19% 19%;
    }

    /* jubilee section */
    
    .music-schedule {
        grid-template-columns: 23% 23% 23% 23%;
        grid-gap: 25px;
    }

    .music-box h1 {
        font-size: 1.5rem;
    }

    .music-box h3 {
        font-size: 1.25rem;
    }

    /* andy */
    .left-wrapped-a {
        width: 55%;
    }

    .andys-image {
        width: 45%;
    }
    
}

@media (max-width: 800px) {
    /* header */

    /* Hero img */
    .top-wrapper {
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .btns-wrapped {
        width: 50%;
        margin-top: 2rem;
        align-items: center;
    }


    .right-cloud {
        top: 15rem;
    }
    /* main sponsors */
    .heading-main h1 {
        font-size: 2rem;
    }

    .content-wrapped {
        display: block;
        column-count: 2;
    }

    .box {
        width: 100%;
    }

    .box h1 {
        font-size: 1.5rem;
    }

    .box h2 {
        font-size: 25px;
    }

    .box h3 {
        font-size: 20px;
    }

    /* beer festival */
    .beer-img-wrapped {
        bottom: 12rem;
    }

    /* .beer-banner {
        height: 65vh;
    } */
    /* map */

    /* menu */
    .beer-menu {
        grid-template-columns: 49% 49%;
    }

    /* sponsors */
    

    /* jubilee section */
    .generic-container h1 {
        font-size: 3rem;
    }

    .music-box h3 {
        font-size: 1rem;
    }

    .img-band-wrapped {
        grid-template-columns: 15% 15% 15% 15% 15% 15%;
    }

    .music-box h2 {
        font-size: 1.5rem;
    }

    .music-box h3 {
        font-size: 1.2rem;
    }

    .music-schedule {
        grid-template-columns: 45% 45%;
        grid-template-rows: auto auto;
        grid-gap: 60px;
    }


    /* andys */
    .andys-article-wrapped {
        column-count: 1;
    }

    .andy-wrapped h1 {
        text-align: center;
    }

    .andys-image {
        bottom: -250px;
    }

    /* food vans */
    .food-van-img-wrapped {
        width: 95%;
    }

    .foodvan-text-wrapped {
        width: 60%;
    }

    /* contact us */
    .opportunities-text h1 {
        font-size: 1.7rem;
    }
    
}

@media (max-width: 700px) {
    /* header */


    
    

    /* main sponsors */
    .heading-main h1 {
        font-size: 1.5rem;
    }

    /* beer festival */
    .generic-container h1 {
        font-size: 3.25rem;
    }
    .beer-banner {
        height: 115vh;
    }

    /* map */

    /* menu */
    .menu-item h3 {
        font-size: 1.1rem;
    }

    .menu-item p {
        font-size: 15px;
    }

    /* sponsors */

    /* jubilee section */
    .generic-container h1 {
        font-size: 2.5rem;
    }
    
    /* andys */
    .andys-content-wrapped {
        flex-direction: column;
    }

    .left-wrapped-a {
        width: 100%;
    }

    .andy-wrapped h1 {
        text-align: left;
    }

    .andys-image {
        width: 50%;
        bottom: -15px;
        left: 25%;
    }

    /* food vans */
    .food-van-wrapped {
        flex-direction: column-reverse;
    }

    .foodvan-text-wrapped {
        width: 100%;
    }

    .food-van-img-wrapped {
        width: 100%;
        left: -4rem;
        bottom: -1.5rem;
    }

    .foodvan-text-wrapped ul {
        column-count: 2;
    }

    .foodvan-text-wrapped li {
        padding-right: 2rem;
    }
    /* footer */

    .opportunities-text h1 {
        font-size: 1.5rem;
    }

    /* mixed ability */
    .teams-wrapped h3 {
        font-size: 3rem;
    }

    .team-wrapper h2 {
        font-size: 1rem;
    }
    
}

@media (max-width: 600px) {
    /* header */
    .header-content {
        display: none;
    }
    
    /* nav for smaller screens */

    #nav-img {
        padding: 35px 0 0 35px !important;
        height: auto;
        width: 25%;
        float: left;
    }

    #smaller-nav {
        display: block;
    }

    #menuToggle {
        display: block;
        position: absolute;
        top: 20px;
        right: 3rem;
        z-index: 1;
    }
    
    #menuToggle a
    {
      text-decoration: none;
      color: #000;
      padding: 2rem 6rem;
    }
    
    #menuToggle input
    {
      display: block;
      width: 50px;
      height: 40px;
      position: absolute;
      top: -4px;
      right: 0px;
      cursor: pointer;
      
      opacity: 0; /* hide this */
      z-index: 2; /* and place it over the hamburger */
      
      -webkit-touch-callout: none;
    }

    #menuToggle span
    {
      display: block;
      width: 50px;
      height: 5px;
      margin-bottom: 9px;
      position: relative;
      
      background: #000;
      border-radius: 3px;
      
      z-index: 1;
      
      transform-origin: 4px 0px;
      
      transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                  background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                  opacity 0.55s ease;
    }
    
    #menuToggle span:first-child
    {
      transform-origin: 0% 0%;
    }
    
    #menuToggle span:nth-last-child(2)
    {
      transform-origin: 0% 100%;
    }
    
    /* 
     * Transform all the slices of hamburger
     * into a crossmark.
     */
    #menuToggle input:checked ~ #line-1
    {
        opacity: 1;
        transform: rotate(-30deg) translate(-2px, -1px);
        background: #000;
        width: 30px;
        margin-bottom: -4px;
    }
    
    /*
     * But let's hide the middle one.
     */
    #menuToggle input:checked ~ #line-2
    {
        opacity: 1;
        background: #000;
    }
    
    /*
     * Ohyeah and the last one should go the other direction
     */
    #menuToggle input:checked ~ #line-3
    {
        transform: rotate(30deg) translate(-10px, -12px);
        width: 30px;
        margin-bottom: 4px;
    }
    
    /*
     * Make this absolute positioned
     * at the top left of the screen
     */
    #small-menu
    {
        top: 150rem;
        position: fixed;
        width: 100%;
        height: 100%;
        transition: top .8s cubic-bezier(1, 0, 0, 1);  
        background: #fff;
        list-style-type: none;
        -webkit-font-smoothing: antialiased;
        right: 0; 
        text-align: center;       
    }
    
    #small-menu li
    {
        padding: 2rem 1rem;
        font-size: 2rem;
        position: relative;
        top: 3em;
        border-bottom: 1px solid #000;
    }
    
    /*
     * And let's slide it in from the left
     */
    #menuToggle input:checked  ~ ul
    {
        top: 0rem;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    


    /* Hero img */
    .hero-img {
        width: 75%;
    }

    .tickets h5 {
        font-size: 1.5rem;
        padding: 1rem 1rem;
    }


    /* main sponsors */

    /* beer festival */

    /* map */

    .box h2 {
        font-size: 17px;
    }

    .box h3 {
        font-size: 16px;
    }
    /* menu */

    /* beer festival */
    .beer-img-wrapped {
        bottom: 6rem;
    }

    /* .beer-banner {
        height: 80vh;
    } */

    .tickets-btn-white {
        width: 100%;
    }

    /* sponsors */

    /* jubilee section */

    .generic-container h1 {
        font-size: 2rem;
    }

    .text-wrapped-row {
        flex-direction: column-reverse;
        align-items: center;
    }

    .right-content {
        width: 35%;
        padding-bottom: 2rem;
    }

    .left-text { 
        padding: none;
        width: 100%;
    }

    .row-jub {
        justify-content: center;
    }
    

    .music-schedule {
        grid-template-columns: 100%;
        grid-template-rows: auto auto auto auto;
    }

    .music-box h1 {
        font-size: 2rem;
    }

    .music-box h2 {
        font-size: 1.75rem;
    }

    .music-box h3 {
        font-size: 1.5rem;
    }

    /* andys */
    .andy-wrapped h1 {
        font-size: 3rem;
    }
    /* footer */

    .opportunities-text h1 {
        text-align: center;
        font-size: 1.7rem;
    }

    /* mixed ability */

    .mixed-ability-description-wrapped {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .mixed-ability-description-wrapped p {
        width: 100%;
    }

    .mixed-sponsor-wrapped {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
    }

    .mixed-sponsor-wrapped h4 {
        font-size: 2rem;
        padding: 2rem 2rem 0 0;
    }
    
}

@media (max-width: 500px) {
    /* header */

    /* Hero img */

    .tickets h5 {
        padding: 1rem 2rem;
    }

    .tickets-solid h5 {
        padding: 1rem 2rem;
    }

    .hero-img {
        left: 0;
    }

    .top-wrapper{
        flex-direction: column;
        align-items: center;
        height: 65vh;
        justify-content: space-between;
    }

    .btns-wrapped {
        width: 75%;
    }

    /* main sponsors */
    .main-people-wrapped {
        flex-direction: column;
    }

    .sponsor-wrapped {
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .funded-by {
        width: 100%;
        align-items: center;
    }

    .funded-info {
        justify-content: center;
    }

    .content-wrapped {
        column-count: 1;
    }

    .box h1 {
        font-size: 1.75rem;
    }

    .box h2 {
        font-size: 25px;
    }

    .box h3 {
        font-size: 20px;
    }

    .content-para {
        padding: 1rem 0 3rem 0;
    }

    .content-para p {
        font-size: 20px;
    }

    /* map */

    /* beer festival */
    .beer-text-wrapped {
        padding: 2rem 0 0 0;
    }

    /* menu */
    .beer-menu {
        grid-template-columns: 100%;
    }

    /* sponsors */

    /* jubilee section */
    .img-band-wrapped {
        grid-template-columns: 30% 30% 30%;
        grid-template-rows: auto auto;
    }

    /* andys */
    .andy-wrapped h1 {
        font-size: 2.5rem;
    }

    /* food trucks */
    .food-van-wrapped {
        padding-top: 1rem;
    }    

    /* footer */

    .footer-logo {
        width: 50%;
    }
    
    .footer-wrapped h1 {
        font-size: 1.5rem;
    }
    
    .footer-wrapped h2 {
        font-size: 1.25rem;
    }
    
    .footer-wrapped h3 {
        font-size: 1rem;
    }

    .j-img {
        width: 30%;
    }
    
    .opportunities-text {
        padding: 2rem;
    }

    .opportunities-text h1 {
        font-size: 1.5rem;
    }

    /* mixed ability */
    .teams-wrapped {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .team-wrapper {
        width: 60%;
    }

    .teams-wrapped h3 {
        font-size: 4rem;
        padding: 2rem 0;
    }

    .team-wrapper h2 {
        font-size: 1.25rem;
    }

    /* try it section */

    .tryit-header-wrapped h1 {
        font-size: 1.5rem;
    }

    .try-it-btn h5 {
        font-size: 1rem;
    }
}

@media (max-width: 400px) {
    .generic-section {
        margin: 0px 2rem;
    }

    .cup-container {
        margin: 0.5rem 2rem;
    }
    /* header */
    .header-content-logo {
        padding: 0px 2rem;
    }

    #menuToggle {
        right: 2rem;
    }
    
    .section-one {
        height: 99vh;
    }

    .section-two {
        margin: 0 2rem;
    }

    .section-three {
        margin: 0 2rem;
    }

    .section-four {
        margin: 0 2rem;
    }

    .section-five {
        margin: 0 2rem;
    }

    /* Hero img */

    .top-wrapper {
        height: 50vh;
        justify-content: space-between;
    }
    

    .hero-img {
        width: 90%;
    }

    .right-cloud {
        top: 15rem;
    }

    .left-cloud {
        top: 5rem;
    }

    .cloud {
        width: 30%;
    }

    .tickets {
        right: 0;
        top: 15rem;
    }

    /* main sponsors */
    .heading-wrapped h1 {
        font-size: 2.25rem;
    }

    /* beer festival */
    .generic-container h1 {
        font-size: 3rem;
    }

    .generic-container h2 {
        font-size: 1.25rem;
    }

    .generic-container h3 {
        font-size: 1.25rem;
    }

    .generic-container h4 {
        font-size: 1rem;
    }

    .beer-banner {
        height: 105vh;
    } 

    .bar-sponsors-wrapped {
        width: 100%;
    }

    .beer-img-wrapped {
        bottom: 1rem;
    }

    /* map */

    /* menu */

    /* sponsors */
    .sponsors-wrapped {
        grid-template-columns: 22.5% 22.5% 22.5% 22.5%;
    }

    /* jubilee section */
    .right-content {
        width: 50%;
    }

    .generic-container {
        margin: 0.5rem 2rem;
    }

    .j-img {
        width: 30%;
    }

    .heading-wrapped h1 {
        font-size: 2rem;
    }

    .sponsors-wrapped {
        grid-template-columns: 23% 23% 23% 23%;
    }
    

    /* andys */
    .andy-wrapped h1 {
        font-size: 2rem;
    }

    .andy-wrapped {
        padding: 1rem 2rem 0 2rem;
    }

    /* contact */
    .opportunities-text h1 {
        font-size: 1.25rem;
    }
    
    /* mixed ability */
    .team-wrapper h2 {
        font-size: 1rem;
    }

    .mixed-sponsor-wrapped img {
        width: 70%;
    }

    .mixed-sponsor-wrapped {
        justify-content: center;
    }

    .mixed-sponsor-wrapped h4 {
        font-size: 2.5rem;
        padding: 2rem 0 0 0;
    }

    /* try it section */
    .tryit-header-wrapped {
        flex-direction: column;
    }

    .tryit-header-wrapped img {
        width: 30%;
        padding-bottom: 2rem;
    }

    .try-it-btn {
        width: 75%;
    }
    
}

@media (max-width: 300px) {
    /* header */

    /* Hero img */
    .top-wrapper {
        height: 40vh;
    }

    /* main sponsors */

    /* beer festival */
    .generic-container h1 {
        font-size: 2rem;
    }

    .generic-container h2 {
        font-size: 1rem;
    }

    .generic-container h3 {
        font-size: 1rem;
    }

    .generic-container h4 {
        font-size: 1.5rem;
    }

    .beer-banner {
        height: 115vh;
    }

    /* map */
    

    /* menu */

    /* sponsors */

    /* jubilee section */
    .j-img {
        width: 30%;
    }

    /* mixed ability */
    .team-wrapper {
        width: 100%;
    }

    .teams-wrapped h3 {
        font-size: 3rem;
    }

    .team-wrapper h2 {
        font-size: 1.25rem;
    }

    .mixed-sponsor-wrapped h4 {
        font-size: 1.8rem;
    }

    /* try it section */
    .tryit-container {
        margin: 2rem;
    }

    .tryit-header-wrapped img {
        width: 45%;
    }

    .tryit-header-wrapped h1 {
        font-size: 1.5rem;
        padding-left: 0;
        text-align: center;
    }

    .tryit-content p {
        padding-bottom: 1rem;
    }

    .try-it-btn h5 {
        padding: 1rem 2rem;
    }
    
}
