@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body {
    font-weight: 300;
    margin: 0;
    padding: 0;
    border: none;
}

/* generic */
/* tag elements */
a {
    text-decoration: none;
    color: #000;
}

a:hover {
    text-decoration: none;
    color: #000;
}

/* direction elements */

.flex {
    display: flex;
}

.align-c {
    align-items: center;
}

.flex-end {
    align-items: flex-end;
}

.jc {
    justify-content: center;
}

.container-margin-y {
    margin-top: 5rem;
    margin-bottom: 5rem;
}

/* display elements */

.hidden {
    display: none;
}

.active {
    color: #000;
}

/* image elements */

.image-wrapper {
    max-width: 100%;
}

.image-wrapper img {
    width: 100%;
}

/* color elements */

.bg-blue {
    background: #00DAEE
}

.color-white {
    color: #fff !important;
}

/* header */
nav {
    background: #00DAEE;
    max-width: 100%;
}

nav img {
    max-width: 160px;
    width: 100%;
}

.navbar {
    align-items: flex-end;
}

.navbar-collapse {
    justify-content: flex-end;
}

.nav-link {
    padding-bottom: 0 !important;
    font-size: 20px;
    font-weight: 400;
    color: #989898;
    transition: all .5s;
}

.nav-link:hover {
    color: #000;
}

.navl-left {
    padding-right: 5px;
}

/* dropdown */
.dropdown-menu {
    padding: 0;
    left: -15px;
    top: 50px;
    background: #00DAEE;
    border: none;
    border-radius: 5px;
}

.b-btm {
    border-bottom: 1px solid #5b9cb4;
}

.dropdown-item {
    transition: all .5s;
}

.dropdown-item:hover {
    background: #03C1D3;

}
/* hero-img */


/* information about LF */
.info-section {
    display: flex;
    flex-direction: row;
}

.about-text h3 {
    font-weight: 600;
}

/* sponsorship */
.small-btn {
    color: #000;
    transition: all .5s;
}

.small-btn:hover {
    color: #5b9cb4;
}

.txt-btn {
    text-decoration: none;
    color: #000;
}

.swiper-controls {
    margin: 20px 0;
}

.swiper-controls div i {
    color: #000;
    transition: all .5s;
    cursor: pointer;
}

.swiper-controls div i:hover {
    color: #5b9cb4;
}

/* contact us banner */
.contact-banner {
    position: relative;
}

.contact-us-b-btn {
    position: absolute;
    bottom: 25px;
}

.contact-btn {
    align-items: center;
    appearance: none;
    background-color: #000;
    border-radius: 4px;
    border-width: 0;
    box-sizing: border-box;
    color: #fff !important;
    cursor: pointer;
    display: inline-flex;
    height: 55px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: all .5s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 30px;
}

.contact-btn:focus {
    box-shadow: #000 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px inset;
}

.contact-btn:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px inset;
    transform: translateY(-2px);
}

/* footer */
footer {
    width: 100%;
    background: #000;
    color: #fff;
    position: relative;
    bottom: 0;
}

.footer-wrapped {
    padding: 2% 5%;
}

.footer-logo {
    width: 50%;
}

.icons-wrapped {
    margin: 0;
    display: flex;
    width: 100%;
    justify-content: flex-end;
    cursor: pointer;
}

.icons-wrapped a {
    color: #fff;
}

.icons-wrapped a:hover {
    color: #00DAEE;
}

.icons-wrapped i {
    font-size: 2rem;
}

.footer-wrapped a {
    color: #989898;
    cursor: pointer;
}

.footer-wrapped a:hover {
    color: #00DAEE;
}

.footer-wrapped a img {
    width: 20%;
    cursor: pointer;
}

.footer-bottom-row {
    max-width: 100%;
    padding-bottom: 20px;
}

.avandor-logo {
    width: 5%;
}

.avandor-txt {
    color: #989898;
    transition: all .5s;
}

.avandor-txt:hover {
    color: #00DAEE;
}



/* Contact us page */

.contact-submit {
    width: 100%;
    color: #000;
    background: #00DAEE;
    border: none;
    padding: 5px 0;
    cursor: pointer;
    border-radius: 5px;
    transition: all .5s;
}

.contact-submit:hover {
    background: #5b9cb4;
}

.contact-wrapped {
    flex-direction: row;
}

.contact-text {
    color: #000;
    transition: all .5s;
}

.contact-text:hover {
    color: #5b9cb4;
}

.contact-card {
    box-shadow: 3px 6px 10px  #5b9cb4;
}

.contact-form {
    margin-bottom: 0;
}

/* sponsorship grid */
.sponsor-item-wrapped {
    flex-direction: row;
}

.sponsorship-grid-col {
    -ms-flex: 50%; /* IE10 */
    flex: 50%;
    max-width: 50%;
    padding: 0 4px;
}

.sponsorship-grid-col img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

.sponsor-txt-wrapped {
    padding-left: 10px;
}

.get-in-touch {
    padding: 10px 40px;
    background: #000;
    color: #fff;
    margin-left: 4px;
    transition: all .5s;
    font-size: 20px;
}

.get-in-touch:hover {
    color: #00DAEE;
}

.colour-grid {
    display: grid;
    align-content: end;
    grid-template-columns: auto auto auto auto auto auto auto auto;
    gap: 10px;
    padding: 10px;
}

.colours-wrapped {
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.colour-box-wrapped {
    width: 100px;
    height: 100px;
    border: 2px solid #000;
}

/* colours */
#orange {
    background: #ffaa00;
}

#dark-green {
    background: #008206;
}

#pink {
    background: #ff66d0;
}

#dark-blue {
    background: #1f1f91;
}

#red {
    background: #ff0000;
}

#light-green {
    background: #4bff00;
}

#light-blue {
    background: #00ffff;
}

#purple {
    background: #d300ff;
}

/* to be added when a colour is taken. */
#white {
    background: #fff;
    border: none;
}


/* main home page */

.home-hr {
    border-bottom: 2px solid #000;
    margin-top: 0;
    margin-bottom: 3.5rem;
}

/* hero image */

/* main sponsor banner */

.main-sponsors-wrapped {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.main-sponsors-logo {
    width: 100%;
    position: relative;
    overflow: hidden;
    transition: all .5s;
}

.main-sponsors-logo:hover {
    box-shadow: 5px 10px 18px #888888;
}


.sq {
    text-align: center;
}

.sq img{
    max-width: 100%;
    max-height: 175px;
}

/* the plan */

/* day swiper */

.day-carousel-container {
    width: 100%;
    height: 430px;
    position: relative;
}

.day-navigation .prev {
    position: absolute;
    z-index: 10;
    font-size: 25px;
    top: 50%;
    left: 20px;
    font-weight: 700;
}

.day-navigation .next {
    right: 20px;
    position: absolute;
    font-size: 25px;
    z-index: 10;
    top: 50%;
}

.day-navigation .day-nav-btn {
    background: rgba(255, 255, 255, 0.55);
    cursor: pointer;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
}

.day-navigation .day-nav-btn:hover {
    background: white;
}


.day-carousel {
    margin-top: 20px;
    transition: all 0.3s ease;
  
}

.day-carousel img {
    width: 100%;
    transition: all 0.3s ease;
}
  
.day {
    position: absolute;
    display: none;
}
  
.day-main {
    display: block;
}

.day-caption-wrapped {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    height: 430px;
}

.day-caption {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.day-caption h1{
    font-size: 50px;
}

.day-caption h5{
    font-size: 25px;
}

.day-caption h6{
    margin-bottom: 7rem;
}

.day-btm {
    margin-bottom: 4rem;
}

.find-out {
    padding: 10px 40px;
    background: #fff;
    color: #000;
    transition: all .5s;
    font-size: 20px;
}

.day-hr {
    border-bottom: 2px solid #fff;
    width: 100%;
}

.find-out:hover {
    background: #00DAEE;
}

/* map */
.map-container {
    width: 100%;
}

.map-container img {
    position: relative;
    max-width: 100%;
}

.map-points img{
    width: 5%;
}

#toilets {
    position: absolute;
    
}


/* svg map styles */

.cls-1,.cls-2,.cls-3,.cls-4,.cls-5 {fill:none;}

.cls-6 {clip-path:url(#clippath);}

.cls-7{fill:#f6e820;}

.cls-8{fill:#010202;}

.cls-9{fill:#020303;}

.cls-10{fill:#efcd20;}

.cls-11{fill:#ed695f;}

.cls-12{fill:#f0eb82;}

.cls-13{fill:#f28f7d;}

.cls-14{fill:#fbbd17;}

.cls-15{fill:#fdd002;}

.cls-16{fill:#e7a070;}

.cls-17{fill:#e3e362;}

.cls-18{fill:#eed600;}

.cls-19{fill:#e6412f;}

.cls-20,.cls-21{fill:#fff;}

.cls-22{fill:#ea6345;}

.cls-23{fill:#f39038;}

.cls-24{fill:#fce4d7;}

.cls-25{fill:#80c8c2;}

.cls-26{fill:#6c5c19;}

.cls-27{fill:#92474b;}

.cls-28{fill:#743089;}

.cls-29{fill:#333a5a;}

.cls-30{fill:#86563f;}

.cls-31{fill:#b1cd4e;}

.cls-32{fill:#d94b24;}

.cls-33{fill:#be1823;}

.cls-34{fill:#bf8d77;}

.cls-35{fill:#cede8a;}

.cls-36{fill:#de4c3c;}

.cls-37{fill:#1e1e1c;}

.cls-38{fill:#231e21;}

.cls-39{fill:#1d1b26;}

.cls-40{fill:#269438;}

.cls-41{fill:#5bb464;}

.cls-42{fill:#585857;}

.cls-43{fill:#5da131;}

.cls-44{fill:#4ea55c;}

.cls-45{fill:#80be60;}

.cls-46{fill:#80bf71;}

.cls-47{fill:#515351;}

.cls-21{stroke:#fbbd17;stroke-width:.2px;}

.cls-21,.cls-48,.cls-49,.cls-2,.cls-3,.cls-4,.cls-5{stroke-miterlimit:10;}

.cls-50{fill:#613a8f;font-family:BigNoodleTitling, BigNoodleTitling;font-size:24.32px;}

.cls-51{clip-path:url(#clippath-1);}

.cls-52{clip-path:url(#clippath-2);}

.cls-48{fill:#f5f5f5;stroke-width:.5px;}

.cls-48,.cls-49,.cls-4{stroke:#1e1e1c;}

.cls-49{fill:#51c1ed;}

.cls-49,.cls-4,.cls-5{stroke-width:.25px;}

.cls-2{stroke:#1d1d1b;}

.cls-3{stroke:#fff;}

.cls-5{stroke:#010101;}




/* responsiveness */

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1200px) {
    /* header */

    /* sponsorship page */

    /* sponorsable item page */

    /* contact us page */
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 992px) {
    /* header */
    .navbar-collapse {
        width: 25%;
    }


    .navbar-nav {
        text-align: center;
    }

    /* sponsorship page */

    /* sponorsable item page */
    .colour-box-wrapped {
        width: 85px;
        height: 85px;
    }

    /* glassware */
    .colour-grid {
        grid-template-columns: auto auto auto auto;
    }

    /* contact us page */

    /* footer */
    .footer-bottom-row {
        width: 50%;
        padding-bottom: 20px;
        margin: 0 auto !important;
    }

    .avandor-logo {
        width: 15%;
    }

}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 768px) {
    /* generic */
    .container {
        margin: 2rem auto !important;
    }

    /* header */
    .navbar-nav {
        margin: 0 auto !important;
        text-align: center;
    }

    .container {
        margin-left: 2rem;
        margin-right: 2rem;
        max-width: 90%;
        padding: 0;
    }

    .navbar-brand {
        width: fit-content;
    }

    .nav-item {
        border-bottom: 1px solid #5b9cb4;
        padding: 10px 0;
    }

    .dropdown-item {
        padding: 6px;
        text-align: center;
    }

    /* home - sponsorship */
    .about-text {
        padding-bottom: 3rem;
    }

    .contact-us-b-btn {
        position: absolute;
        bottom: 0;
    }

    /* sponsorship page */

    .info-section {
        flex-direction: column-reverse;
    }

    .col {
        flex-basis: content;
        padding-left: 0;
        padding-right: 0;
    }

    /* sponorsable item page */
    .sponsor-item-wrapped {
        flex-direction: column-reverse;
    }

    .get-in-touch {
        margin-left: 0px;
    }

    .sponsorship-grid-col {
        margin-top: 5rem;
    }

    /* contact us page */
    .contact-wrapped {
        flex-direction: column;
    }

    .contact-card {
        width: 100%;
    }

    .contact-form {
        margin-bottom: 5rem;
    }

    /* footer */
    .footer-wrapped .row .col {
        justify-content: center !important;
    }

    .footer-logo {
        width: 40%;
        margin: 20px 0;
    }

    .text-right {
        text-align: center !important;
    }

    .icons-wrapped {
        justify-content: center;
    }

}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 576px) {
    /* generic */
    .row {
        margin-right: 0;
        margin-left: 0;
    }
    /* header */

    /* home - sponsorship */

    /* sponsorship page */


    /* sponorsable item page */
    .sponsorship-grid-col {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }

    .sponsor-item-wrapped {
        overflow: hidden;
    }

    .sponsorship-grid-col {
        margin-top: 2rem;
    }

    .colour-box-wrapped {
        width: 100px;
        height: 100px;
    }
    /* contact us page */

    /* footer */
}

@media (max-width: 420px) {
    /* generic */
    .container {
        max-width: 83%;
    }

    .main-header {
        font-size: 1.6rem;
    }

    .container-margin-y {
        margin-top: 3rem;
    }

    /* header */

    /* home - sponsorship */
    #hero-image {
        width: 100% !important;
    }

    .small-btn {
        padding-left: 0 !important;
    }

    .image-wrapper {
        overflow: hidden;
    }

    .image-wrapper img {
        width: 150%;
    }

    .contact-btn {
        height: 40px;
        font-size: 20px;
    }

    .colour-grid {
        grid-template-columns: auto auto;
    }
    /* sponsorship page */


    /* sponorsable item page */
    .card-img-top img{
        width: 100% !important;
    }

    /* glassware */
    #cup-img {
        width: 100% !important;
    }
    /* contact us page */

    /* footer */
    .avandor-logo {
        width: 35%;
    }

}