@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body {
    font-weight: 300;
    margin: 0;
    padding: 0;
    border: none;
}

/* generic */
/* tag elements */
a {
    text-decoration: none;
    color: #000;
}

a:hover {
    text-decoration: none;
    color: #000;
}

/* direction elements */

.flex {
    display: flex;
}

.align-c {
    align-items: center;
}

.flex-end {
    align-items: flex-end;
}

.jc {
    justify-content: center;
}

.container-margin-y {
    margin-top: 5rem;
    margin-bottom: 5rem;
}

/* display elements */

.hidden {
    display: none;
}

.active {
    color: #000;
}

/* image elements */

.image-wrapper {
    max-width: 100%;
}

.image-wrapper img {
    width: 100%;
}

/* color elements */

.bg-blue {
    background: #00DAEE
}

.color-white {
    color: #fff !important;
}

/* header */ 
nav {
    background: #00DAEE;
    max-width: 100%;
}

nav img {
    max-width: 160px;
    width: 100%;
}

.navbar {
    align-items: flex-end;
}

.navbar-collapse {
    justify-content: flex-end;
}

.nav-link {
    padding-bottom: 0 !important;
    font-size: 20px;
    font-weight: 400;
    color: #989898;
    transition: all .5s;
}

.nav-link:hover {
    color: #000;
}

.navl-left {
    padding-right: 5px;
}

/* dropdown */
.dropdown-menu {
    padding: 0;
    left: -15px;
    top: 50px;
    background: #00DAEE;
    border: none;
    border-radius: 5px;
}

.b-btm {
    border-bottom: 1px solid #5b9cb4;
}

.dropdown-item {
    transition: all .5s;
}

.dropdown-item:hover {
    background: #03C1D3;

}
/* hero-img */


/* information about LF */
.info-section {
    display: flex;
    flex-direction: row;       
}

.about-text h3 {
    font-weight: 600;
}

/* sponsorship */
.small-btn {
    color: #000;
    transition: all .5s;
}

.small-btn:hover {
    color: #5b9cb4;
}

.txt-btn {
    text-decoration: none;
    color: #000;
}

.swiper-controls {
    margin: 20px 0;
}

.swiper-controls div i {
    color: #000;
    transition: all .5s;
    cursor: pointer;
}

.swiper-controls div i:hover {
    color: #5b9cb4;
}

/* contact us banner */
.contact-banner {
    position: relative;
}

.contact-us-b-btn {
    position: absolute;
    bottom: 25px;
}

.contact-btn {
    align-items: center;
    appearance: none;
    background-color: #000;
    border-radius: 4px;
    border-width: 0;
    box-sizing: border-box;
    color: #fff !important;
    cursor: pointer;
    display: inline-flex;
    height: 55px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: all .5s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 30px;
}
  
.contact-btn:focus {
    box-shadow: #000 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px inset;
}
  
.contact-btn:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px inset;
    transform: translateY(-2px);
}

/* footer */
footer {
    width: 100%;
    background: #000;
    color: #fff;
    position: relative;
    bottom: 0;
}

.footer-wrapped {
    padding: 2% 5%;
}

.footer-logo {
    width: 50%;
}

.icons-wrapped {
    margin: 0;
    display: flex;
    width: 100%;
    justify-content: flex-end;
    cursor: pointer;
}

.icons-wrapped a {
    color: #fff;
}

.icons-wrapped a:hover {
    color: #00DAEE;
}

.icons-wrapped i {
    font-size: 2rem;
}

.footer-wrapped a {
    color: #989898;
    cursor: pointer;
}

.footer-wrapped a:hover {
    color: #00DAEE;
}

.footer-wrapped a img {
    width: 20%;
    cursor: pointer;
}

.footer-bottom-row {
    max-width: 100%;
    padding-bottom: 20px;
}

.avandor-logo {
    width: 5%;
}

.avandor-txt {
    color: #989898;
    transition: all .5s;
}

.avandor-txt:hover {
    color: #00DAEE;
}



/* Contact us page */

.contact-submit {
    width: 100%;
    color: #000;
    background: #00DAEE;
    border: none;
    padding: 5px 0;
    cursor: pointer;
    border-radius: 5px;
    transition: all .5s;
}

.contact-submit:hover {
    background: #5b9cb4;
}

.contact-text {
    color: #000;
    transition: all .5s;
}

.contact-text:hover {
    color: #5b9cb4;
}

.contact-card {
    box-shadow: 3px 6px 10px  #5b9cb4;
}

/* sponsorship grid */
.sponsor-item-wrapped {
    flex-direction: row;
}

.sponsorship-grid-col {
    -ms-flex: 50%; /* IE10 */
    flex: 50%;
    max-width: 50%;
    padding: 0 4px;
}
  
.sponsorship-grid-col img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

.sponsor-txt-wrapped {
    padding-left: 10px;
}

.get-in-touch {
    padding: 5px 10px;
    background: #000;
    color: #fff;
    margin-left: 4px;
    transition: all .5s;
}

.get-in-touch:hover {
    color: #00DAEE;
}
/* responsiveness */

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
    /* header */
    
    /* sponsorship page */

    /* sponorsable item page */

    /* contact us page */
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
    /* header */
    .navbar-collapse {
        width: 25%;
    }

    /* sponsorship page */

    /* sponorsable item page */

    /* contact us page */

}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
    /* header */
    .navbar-nav {
        margin: 0 auto !important;
        text-align: center;
    }

    .container {
        margin-left: 2rem;
        margin-right: 2rem;
        max-width: 90%;
        padding: 0;
    }

    .navbar-brand {
        width: fit-content;
    }
    
    /* sponsorship page */

    .info-section {
        flex-direction: column-reverse;
    }

    .col {
        flex-basis: content;
        padding-left: 0;
        padding-right: 0;
    }
    /* sponorsable item page */

    /* contact us page */
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    /* header */
    
    /* sponsorship page */


    /* sponorsable item page */
    .sponsorship-grid-col {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
    /* contact us page */
}