@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500&display=swap');

body {
    font-weight: 300;
    margin: 0;
    padding: 0;
    border: none;
}

/* generic */
/* tag elements */
a {
    text-decoration: none;
    color: #000;
}

a:hover {
    text-decoration: none;
    color: #000;
}

.text-white {
    color: #fff !important;
}

/* direction elements */
/* back to top button */
.bck-to-top {
    position: fixed;
    bottom: 20px; 
    right: 30px; 
    z-index: 99; 
    border: none; 
    outline: none; 
    background-color: #000; 
    opacity: 0.2;
    color:#fff; 
    cursor: pointer; 
    padding: 18px 25px; 
    border-radius: 50%; 
    font-size: 18px; 
    transition: all .5s;
}

.bck-to-top::after {
    border: none;
}

button:focus {
    outline: none;
}

.bck-to-top:hover {
    opacity: 1;
}

.flex {
    display: flex;
}

.align-c {
    align-items: center;
}

.flex-end {
    align-items: flex-end;
}

.jc {
    justify-content: center;
}

.container-margin-y {
    margin-top: 5rem;
    margin-bottom: 5rem;
}

/* display elements */

.hidden {
    display: none;
}

.active {
    color: #000;
}

.cursor-none {
    cursor: default;    
}

.mobile-design, .mobile-design-days {
    display: none;
}

.main-header {
    text-transform: capitalize;
}

/* image elements */

.image-wrapper {
    max-width: 100%;
}

.image-wrapper img {
    width: 100%;
}

/* color elements */

.bg-blue {
    background: #00DAEE
}

.color-white {
    color: #fff !important;
}

/* header */
nav {
    background: #00DAEE;
    max-width: 100%;
}

nav img {
    max-width: 160px;
    width: 100%;
}

.navbar {
    align-items: flex-end;
}

.navbar-collapse {
    justify-content: flex-end;
}

.nav-link {
    padding-bottom: 0 !important;
    font-size: 20px;
    font-weight: 400;
    color: #989898;
    transition: all .5s;
}

.nav-link:hover {
    color: #000;
}

.navl-left {
    padding-right: 5px;
}

/* dropdown */
.dropdown-menu {
    padding: 0;
    left: -15px;
    top: 50px;
    background: #00DAEE;
    border: none;
    border-radius: 5px;
}

.b-btm {
    border-bottom: 1px solid #5b9cb4;
}

.dropdown-item {
    transition: all .5s;
}

.dropdown-item:hover {
    background: #03C1D3;

}
/* countdown */
.countdown-wrapped {
    background: #000;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
}

.countdown-wrapped h4 {
    color: #fff;
}

.countdown {
    margin-left: 1rem;
    font-weight: 500;
    color: #53c0da;
    font-size: 2rem;
}

/* information about LF */
.info-section {
    display: flex;
    flex-direction: row;
}

.about-text h3 {
    font-weight: 600;
}

/* sponsorship */
.small-btn {
    color: #000;
    transition: all .5s;
}

.small-btn:hover {
    color: #5b9cb4;
}

.txt-btn {
    text-decoration: none;
    color: #000;
}

.swiper-controls {
    margin: 20px 0;
}

.swiper-controls div i {
    color: #000;
    transition: all .5s;
    cursor: pointer;
}

.swiper-controls div i:hover {
    color: #5b9cb4;
}

/* contact us banner */
.contact-banner {
    position: relative;
}

.contact-us-b-btn {
    position: absolute;
    bottom: 25px;
}

.contact-btn {
    align-items: center;
    appearance: none;
    background-color: #000;
    border-radius: 4px;
    border-width: 0;
    box-sizing: border-box;
    color: #fff !important;
    cursor: pointer;
    display: inline-flex;
    height: 55px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: all .5s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 30px;
}

.contact-btn:focus {
    box-shadow: #000 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px inset;
}

.contact-btn:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px inset;
    transform: translateY(-2px);
}

/* header titles */
.title-img {
    width: 100%;
    margin-bottom: 1rem;
}

.title-img img {
    max-width: 100%;
}

.sub-heading {
    max-width: 75% !important;
}

/* footer */
footer {
    width: 100%;
    background: #000;
    color: #fff;
    position: relative;
    bottom: 0;
}

.footer-wrapped {
    padding: 2% 5%;
}

.footer-logo {
    width: 50%;
}

.icons-wrapped {
    margin: 0;
    display: flex;
    width: 100%;
    justify-content: flex-end;
    cursor: pointer;
}

.icons-wrapped a {
    color: #fff;
}

.icons-wrapped a:hover {
    color: #00DAEE;
}

.icons-wrapped i {
    font-size: 2rem;
}

.footer-wrapped a {
    color: #989898;
    cursor: pointer;
}

.footer-wrapped a:hover {
    color: #00DAEE;
}

.footer-wrapped a img {
    width: 20%;
    cursor: pointer;
}

.footer-bottom-row {
    max-width: 100%;
    padding-bottom: 20px;
}

.avandor-logo {
    width: 5%;
}

.avandor-txt {
    color: #989898;
    transition: all .5s;
}

.avandor-txt:hover {
    color: #00DAEE;
}



/* Contact us page */

.contact-submit {
    width: 100%;
    color: #000;
    background: #00DAEE;
    border: none;
    padding: 5px 0;
    cursor: pointer;
    border-radius: 5px;
    transition: all .5s;
}

.contact-submit:hover {
    background: #5b9cb4;
}

.contact-wrapped {
    flex-direction: row;
}

.contact-text {
    color: #000;
    transition: all .5s;
}

.contact-text:hover {
    color: #5b9cb4;
}

.contact-card {
    box-shadow: 3px 6px 10px  #5b9cb4;
}

.contact-form {
    margin-bottom: 0;
}

/* sponsorship grid */
.sponsor-item-wrapped {
    flex-direction: row;
}

.sponsorship-grid-col {
    -ms-flex: 50%; /* IE10 */
    flex: 50%;
    max-width: 50%;
    padding: 0 4px;
}

.sponsorship-grid-col img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

.sponsor-txt-wrapped {
    padding-left: 10px;
}

.get-in-touch {
    padding: 10px 40px;
    background: #000;
    color: #fff;
    margin-left: 4px;
    transition: all .5s;
    font-size: 20px;
}

.get-in-touch:hover {
    color: #00DAEE;
}

.colour-grid {
    display: grid;
    align-content: end;
    grid-template-columns: auto auto auto auto auto auto auto auto;
    gap: 10px;
    padding: 10px;
}

.colours-wrapped {
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.colour-box-wrapped {
    width: 100px;
    height: 100px;
    border: 2px solid #000;
}

.mockup-grid {
    display: grid;
    grid-template-columns: 48% 48%;
    grid-gap: 5%;
    grid-row-gap: 10%;
    padding: 0 15px;
}

.mockup-grid img {
    max-width: 95%;
}

/* colours */
#orange {
    background: #ffaa00;
    opacity: 0.5;
}

#dark-green {
    background: #008206;
    opacity: 0.5;
}

#pink {
    background: #ff66d0;
    opacity: 0.5;
}

#dark-blue {
    background: #1f1f91;
    opacity: 0.5;

}

#red {
    background: #ff0000;
    opacity: 0.5;
}

#light-green {
    background: #4bff00;
    opacity: 0.5;
}

#light-blue {
    background: #00ffff;
}

#purple {
    background: #d300ff;
    opacity: 0.5;
}

/* to be added when a colour is taken. */
#white {
    background: #fff;
    border: none;
}


/* main home page */

.home-hr {
    border-bottom: 2px solid #000;
    margin-top: 0;
    margin-bottom: 3.5rem;
}

/* hero image */

/* main sponsor banner */

.main-sponsors-wrapped {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.main-sponsors-logo {
    width: 100%;
    position: relative;
    overflow: hidden;
    transition: all .5s;
}

.main-sponsors-logo:hover {
    box-shadow: 5px 10px 18px #888888;
}


.sq {
    text-align: center;
}

.sq img{
    max-width: 100%;
    max-height: 175px;
}

/* the plan */

/* day swiper */

.day-carousel-container {
    width: 100%;
    height: 430px;
    position: relative;
}

.day-navigation .prev {
    position: absolute;
    z-index: 10;
    font-size: 25px;
    top: 50%;
    left: 20px;
    font-weight: 700;
}

.day-navigation .next {
    right: 20px;
    position: absolute;
    font-size: 25px;
    z-index: 10;
    top: 50%;
}

.day-navigation .day-nav-btn {
    background: rgba(255, 255, 255, 0.55);
    cursor: pointer;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
}

.day-navigation .day-nav-btn:hover {
    background: white;
}


.day-carousel {
    margin-top: 20px;
    transition: all 0.3s ease;
  
}

.day-carousel img {
    width: 100%;
    transition: all 0.3s ease;
}
  
.day {
    position: absolute;
    display: none;
}
  
.day-main {
    display: block;
}

.day-caption-wrapped {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    height: 430px;
}

.day-caption {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.day-caption h1{
    font-size: 50px;
}

.day-caption h5{
    font-size: 25px;
}

.day-caption h6{
    margin-bottom: 7rem;
}

.day-btm {
    margin-bottom: 4rem;
}

.find-out {
    padding: 10px 40px;
    background: #fff;
    color: #000;
    transition: all .5s;
    font-size: 20px;
}

.day-hr {
    border-bottom: 2px solid #fff;
    width: 100%;
}

.find-out:hover {
    background: #00DAEE;
}

/* map */
.map-container {
    width: 100%;
    position: relative;
}

.map-container img {
    position: relative;
    max-width: 100%;
}

/* beer festival */

.beer-festival-info-wrapped {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.beer-festival-info {
    width: 55%;
}

.beer-festival-images {
    flex: 30%;
    max-width: 30%;
    padding: 0 4px;
}

.beer-festival-images img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

/* bar banner */
.banner {
    width: 100%;
    margin: 5rem 0;
}

.bar-banner {
    background-color: #f42f20;
}

.banner-wrapped {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.banner-text {
    padding-top: 2rem;
}

.banner-text h3 {
    color: #000;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    font-size: 35px;
}

.banner-img {
    width: 25%;
}

.banner-img img {
    width: 100%;
}

/* tickets */

/* cups */
.cup-images {
    margin-top: 2rem;
    width: 100%;
}

.cup-images img {
    max-width: 100%;
}

/* menu */
.menu-grid-wrapped {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    column-gap: 10px;
    row-gap: 3rem;
    margin: 3rem 0;
}

.menu-item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    max-width: 100%;
}

.beer-sponsor {
    width: 50%;
    padding-right: 20px;
}

.beer-sponsor a img {
    max-width: 100%;
}

.beer-sponsor img {
    max-width: 100%;
}

.beer-detail {
    display: flex;
    flex-direction: column;
    text-align: left;
    max-width: 45%;
}

.beer-detail h5 {
    text-transform: capitalize;
}

.beer-detail p {
    text-transform: capitalize;
}

/* try it banner */
.tryit-banner {
    background: #a4d4f3;
} 



.tryit-banner-wrapped {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 1rem;
}

.tryit-banner-img {
    width: 15%;
}

.tryit-banner-img img{
    max-width: 100%;
}

.tryit-banner-text {
    display: flex;
    flex-direction: column;
    text-align: center;
}

/* our sponsors */
.sponsors-grid-wrapped {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    column-gap: 30px;
    row-gap: 3rem;
    margin: 3rem 0;
}

.img-sponsor {
    width: 100%;
}

.img-sponsor a img {
    max-width: 100%;
}

.img-sponsor img {
    max-width: 100%;
}

/* food vans */
.food-desc {
    text-align: center !important;
}

/* Music schedule */
.music-schedule {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.music-schedule h4 {
    font-size: 1.25rem;
}

.music-grid-wrapped {
    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 30px;
    row-gap: 3rem;
    margin: 3rem 0;
}

.music-container {
    position: relative;
    overflow: hidden;
}

.act-image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.music-container img {
    width: 100%;
}

.music-overlay {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
}

.music-container:hover .act-image {
    opacity: 0.3;
}
  
.music-container:hover .music-overlay {
    opacity: 1;
}
  
.music-sponsor-logo {
    color: #000;
    font-size: 16px;
    padding: 16px 32px;
    width: 100%;
    text-transform: uppercase;
}

.music-sponsor-logo img {
    width: 100%;
}

/* Mab Section */
.mab-wrapped {
    width: 100%;
    background: #eae4df;
}

.mab-content {
    display: flex;
    flex-direction: row;
    padding: 2rem;
    color: #00154d;
}

.mab-text {
    width: 100%;
}

.mab-text h1 {
    color: #f26a2c !important;
}

.buildings {
    width: 100%;
    padding-bottom: 2rem;
}

.buildings img {
    max-width: 100%;
}

.mab-link {
    color: #00154d;
    transition: all .5s;
    text-decoration: underline;
}

.mab-link:hover {
    color: #f26a2c;
}

/* Try it page */
.tryit-git {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 40px;
}

.other-d {
    display: flex;
    flex-direction: column;
    text-align: right;
}

.try-contact-info {
    flex-direction: row;
    margin-bottom: 1rem;
}

.try-contact-list {
    position: relative;
    font-size: 22px;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    padding-right: 15px;
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-end;
}
  
.try-contact-list div a {
    color: #fff;
}
  
.try-contact-list div {
    position: relative; 
    display: inline-block;
    height: 60px;
    width: 60px;
    margin: 10px 3px;
    line-height: 60px;
    border-radius: 50%;
    color: #fff;
    background-color: #c6c6c6;
    cursor: pointer; 
    transition: all .2s ease-in-out;
}
  
.try-contact-list div:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    opacity: 0;
    box-shadow: 0 0 0 1px #a4d4f3;
    transition: all .2s ease-in-out;
}
  
.try-contact-list div:hover {
    background-color: #a4d4f3; 
}
  
.try-contact-list div:hover:after {
    opacity: 1;  
    transform: scale(1.12);
    transition-timing-function: cubic-bezier(0.37,0.74,0.15,1.65);
}
  
.try-contact-list div:hover a {
    color: #000;
}

.contact-i{
    color: #fff;
}

.tryit-sponsors-banner {
    padding: 1rem 3rem;
    display: flex;
    flex-direction: column;
    background-color: #c6c6c6;
}

.tryit-sponsors-banner .sub-heading {
    max-width: 50%;
}

.try-sponsors-grid {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.try-sponsors-img {
    width: 50%;
}

.try-sponsors-img img {
    max-width: 100%;
}

.rugby-team {
    font-weight: 600;
    font-size: 20px;
}

.rugby-grid-wrapped {
    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 30px;
    row-gap: 3rem;
    margin: 3rem 0;
    align-items: end;
}

.rugby-sponsor-logo {
    color: #000;
    font-size: 10px;
    padding: 12px 5px;
    width: 100%;
    text-transform: uppercase;
}

/* swiper */
.swiper-wrapper {
    height: auto !important;
}

/* scoreboard */
.elite-background{
    /* width: 100%;
    position: relative; */
    background-image: url("../images/tryit/elite-sevens.png");
    background-size: cover;
}

.container-pad-y {
    padding-top: 9rem;
    padding-bottom: 9rem;
}

.scoreboard-wrapped {
    width: 50%;
    margin: 0 auto;
    height: 250px;
}

.scoreboards {
    display: flex;
    justify-content: center;
}

.teams-wrapped {
    display: flex;
    flex-direction: row;
}

.team-images {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 25px;
}

.team-images img {
    max-width: 15%;
}

#doc-title {
    font-family: 'Jost', sans-serif;
    font-size: 40px;
}

/* volunteers */
.vol-img {
    width: 100%;
}

.vol-img img {
    max-width: 100%;
}

.collumn {
    flex-direction: column;
}


.c-u-btn {
    width: 50%;
}
/* Andys Man Club */

.andy-wrapped {
    padding: 1rem 3rem 0 3rem;
    color: #fff;
    width: 100%;
    background: #2B2A29;
    overflow: hidden;
}
    
.andy-wrapped {
    padding: 1rem 3rem 0 3rem;
    color: #fff;
}

.andy-wrapped h1 {
    text-transform: uppercase;
    font-size: 4rem;
}

.andys-content-wrapped {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.left-wrapped-a {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.andys-article-wrapped {
    column-count: 2;
    padding-top: 2rem;
}

.andys-image {
    width: 25%;
    position: relative;
    bottom: -15px;
}

.andys-image img {
    width: 100%;
}

#andy-times {
    font-weight: 300;
}

.andy-wrapped h1 {
    text-transform: uppercase;
    font-size: 4rem;
}

.andys-content-wrapped {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.left-wrapped-a {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.andys-article-wrapped {
    column-count: 2;
    padding-top: 2rem;
}

.andys-image {
    width: 25%;
    position: relative;
    bottom: -15px;
}

.andys-image img {
    width: 100%;
}

#andy-times {
    font-weight: 700;
    font-size: 1.25rem;
}

.andys-get-in-touch {
    width: 50%;
    background: #fff;
    padding: 5px;
    margin-bottom: 2rem;
    margin-top: 1rem;
    color: #000;
    transition: all .5s;
}

.andys-get-in-touch:hover {
    background: #585857;
    color: #fff;
}

/* Mixed Ability */
.mixed-ability-wrapped {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.mixed-desc {
    max-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.mixed-desc ul {
    padding-left: 20px;
}

.mixed-image {
    max-width: 50%;
}

.mixed-image img {
    max-width: 100%;
}

/* Avandor */
.avandor-banner {
    background: #000;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.avandor-banner-img img {
    max-width: 100%;
}

.avandor-banner-btn {
    margin-bottom: 2rem;
}

.avandor-banner-btn a {
    color: #000;
    background: #ee7219;
    padding: 10px;
    transition: all .5s;
    font-weight: 400;
    font-size: 1.25rem;
}

.avandor-banner-btn a:hover {
    background: #000;
    color: #ee7219;
    font-size: 1.5rem;
}

/* stalls attending */

.stall-wrapper {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    row-gap: 10px;
    column-gap: 10px;
}

.stall-card {
    max-width: 100%;
}

.stall-card img {
    max-width: 100%;
}

/* Day Pages */
.day-wrapped {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.day-map {
    max-width: 50%;
}

.day-map img {
    width: 100%;
}

.day-info {
    width: 45%;
}

/* responsiveness */

/* Medium devices (tablets, less than 992px) */
@media (max-width: 992px) {
    /* header */
    .navbar-collapse {
        width: 25%;
    }

    .navbar-nav {
        text-align: center;
    }

    /* sponsorship page */

    /* sponorsable item page */
    .colour-box-wrapped {
        width: 85px;
        height: 85px;
    }

    /* glassware */
    .colour-grid {
        grid-template-columns: auto auto auto auto;
    }

    .container {
        max-width: 900px;
    } 

    /* contact us page */

    /* footer */
    .footer-bottom-row {
        width: 50%;
        padding-bottom: 20px;
        margin: 0 auto !important;
    }

    .avandor-logo {
        width: 15%;
    }

    /* main homepage */
    .day-carousel-container {
        height: 320px;
    }

    .day-caption {
        margin-bottom: 5rem;
    }

    .day-caption h6 {
        margin-bottom: 2rem;
    }

    .map-container {
        display: none;
    }

    .mobile-design {
        display: block;
    }

    #p-for-big-map {
        display: none;
    }

    .music-sponsor-logo h5 {
        font-size: 1rem;
    }

    /* andys man club */
    .andys-image {
        bottom: -130px;
    }

    /* homepage */

    /* menu */
    .beer-detail h5 {
        font-size: 1rem;
    }

    .beer-detail p {
        font-size: 15px;
    }


}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 768px) {
    /* generic */
    .container {
        margin: 2rem auto !important;
    }

    /* header */
    .navbar-nav {
        margin: 0 auto !important;
        text-align: center;
    }

    .container {
        margin-left: 2rem;
        margin-right: 2rem;
        max-width: 90%;
        padding: 0;
    }

    .navbar-brand {
        width: fit-content;
    }

    .nav-item {
        border-bottom: 1px solid #5b9cb4;
        padding: 10px 0;
    }

    .dropdown-item {
        padding: 6px;
        text-align: center;
    }

    /* home - sponsorship */
    .about-text {
        padding-bottom: 3rem;
    }

    .contact-us-b-btn {
        position: absolute;
        bottom: 0;
    }

    /* sponsorship page */

    .info-section {
        flex-direction: column-reverse;
    }

    .col {
        flex-basis: content;
        padding-left: 0;
        padding-right: 0;
    }

    /* cup grid */
    .mockup-grid {
        margin-bottom: 5rem;
    }

    /* sponorsable item page */
    .sponsor-item-wrapped {
        flex-direction: column-reverse;
    }

    .get-in-touch {
        margin-left: 0px;
    }

    .sponsorship-grid-col {
        margin-top: 5rem;
    }

    /* contact us page */
    .contact-wrapped {
        flex-direction: column;
    }

    .contact-card {
        width: 100%;
        margin-top: 0 !important;

    }

    .contact-form {
        margin-bottom: 5rem;
    }

    .contact-cards-wrapped {
        display: grid;
        grid-template-columns: auto auto;
        row-gap: 20px;
        column-gap: 20px;
        margin-bottom: 2rem;
    }

    

    /* footer */
    .footer-wrapped .row .col {
        justify-content: center !important;
    }

    .footer-logo {
        width: 40%;
        margin: 20px 0;
    }

    .text-right {
        text-align: center !important;
    }

    .icons-wrapped {
        justify-content: center;
    }

    /* main homepage */
    .day-carousel-container {
        height: 270px;
    }

    .find-out {
        font-size: 12px;
    }

    .day-caption {
        margin-bottom: 10rem;
    }

    .beer-festival-images {
        flex: 40%;
        max-width: 40%;
    }

    .banner-text h3 {
        font-size: 1.25rem;
    }

    .beer-detail h5 {
        font-size: 1rem;
    }

    .beer-detail p {
        font-size: 10px;
    }

    .tryit-banner-img {
        width: 17%;
    }

    .sponsors-grid-wrapped {
        grid-template-columns: auto auto auto auto auto auto;
        column-gap: 15px;
    }

    .music-schedule h4 {
        font-size: 20px;
        font-weight: 400;
    }

    /* try it */
    .tryit-git {
        grid-template-columns: auto;
        column-gap: 0;
        row-gap: 60px;
    }

    .other-d {
        text-align: left;
    }
    
    .try-contact-list {
        justify-content: flex-start;
    }
    
    .google-form {
        max-width: 100% !important;
    }

    /* andys man club */
    .andys-image {
        bottom: 0;
        margin: 0 auto;
    }

    .andys-content-wrapped {
        flex-direction: column-reverse;
        align-items: center;
    }

    .left-wrapped-a {
        width: 100%;
    }

    #andy-times {
        margin: 2rem 0;
    }

    .andys-get-in-touch {
        margin-bottom: 2rem;
        width: 100%;
    }

    .andy-wrapped h1 {
        text-align: center;
        margin-top: 2rem;
    }

    /* homepage */

    .mixed-ability-wrapped {
        flex-direction: column;
    }

    .mixed-desc {
        max-width: 100%;
    }

    .c-u-btn {
        width: 50%;
    }

    .mixed-image {
        margin: 2rem auto;
        max-width: 100%;
    }

    .avandor-banner-btn {
        margin-top: 1rem;
    }

    .music-sponsor-logo h5 {
        font-size: 9px;
    }


}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 576px) {
    /* generic */
    .row {
        margin-right: 0;
        margin-left: 0;
    }
    /* countdown */
    .countdown-wrapped h4 {
        font-size: 1rem;
    }


    .countdown {
        font-size: 1.5rem;
    }
    /* home - sponsorship */

    /* sponsorship page */

    /* cup grid */
    .mockup-grid {
        grid-template-columns: auto;
        grid-gap: 0;
        grid-row-gap: 5%;
        padding: 0;
        margin-bottom: 10rem;
    }

    .mockup-grid img {
        max-width: 100%;
    }

    /* sponorsable item page */
    .sponsorship-grid-col {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }

    .sponsor-item-wrapped {
        overflow: hidden;
    }

    .sponsorship-grid-col {
        margin-top: 2rem;
    }

    .colour-box-wrapped {
        width: 100px;
        height: 100px;
    }
    /* contact us page */

    .contact-card h6 {
        font-size: 1.5rem;
    }

    .contact-cards-wrapped {
        grid-template-columns: auto;
    }

    /* main homepage */
    .main-header {
        font-size: 2rem;
        margin-bottom: 1.5rem !important;
    }

    .sub-header {
        font-size: 1.25rem !important;
        margin-bottom: 1.5rem !important;
    }

    .sq img {
        max-width: 80%;
    }

    .home-hr {
        margin-bottom: 2.5rem;
    }

    .day-carousel-container {
        display: none;
    }

    .mobile-design-days {
        display: flex;
        flex-direction: column;
    }

    .sm-day-img-wrapped {
        width: 100%;
        position: relative;
    }

    .sm-day-img-wrapped img {
        max-width: 100%;
    }

    .sm-day-caption-wrapped {
        position: absolute;
        top: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
    }

    .sm-day-mt {
        margin-top: 2rem;
    }
    
    .sm-day-caption {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .sm-day-caption h1{
        font-size: 50px;
    }
    
    .sm-day-caption h5{
        margin-bottom: 0 !important;
        font-size: 25px;
    }
    
    .sm-day-caption h6{
        font-size: 25px !important;
        margin-bottom: 1rem;
    }
    
    .sm-day-btm {
        margin-bottom: 4rem;
    }
    
    .sm-find-out {
        padding: 10px 40px;
        background: #fff;
        color: #000;
        transition: all .5s;
        font-size: 12px;
    }
    
    .sm-day-hr {
        border-bottom: 2px solid #fff;
        width: 100%;
    }

    .beer-festival-info-wrapped {
        flex-direction: column;
    }

    .beer-festival-info {
        width: 100%;
    }

    .beer-festival-images {
        display: none;
    }

    .banner-img {
        width: 30%;
    }
    
    .bar-banner {
        margin-bottom: 3rem !important;
    }

    .menu-grid-wrapped {
        grid-template-columns: 48% 48%;
        column-gap: 3%;
        row-gap: 1rem;
    }

    small {
        font-size: 50%;
    }

    .tryit-banner-text {
        margin-top: 1rem !important;
    }

    .sponsors-grid-wrapped {
        grid-template-columns: auto auto auto auto auto;
        column-gap: 10px;
        row-gap: 1rem;
    }

    .music-grid-wrapped {
        display: grid;
        grid-template-columns: auto auto;
    }

    .banner-text h3 {
        font-size: 1rem;
    }

    /* try it */
    .try-sponsors-img {
        width: 75%;
    }

    .tryit-sponsors-banner .sub-heading {
        max-width: 90% !important;
    }

    /* andys man club */

    .andys-article-wrapped {
        font-size: 0.75rem;
    }

    #andy-times {
        font-size: 1rem;
    }

    /* homepage */
    .music-sponsor-logo h5 {
        font-size: 18px;
    }

    .stall-wrapper {
        display: grid;
        grid-template-columns: auto auto auto auto auto;
    }
}

@media (max-width: 420px) {
    /* generic */
    .container {
        max-width: 83%;
    }

    .main-header {
        font-size: 1.6rem;
    }

    .container-margin-y {
        margin-top: 3rem;
    }

    /* countdown */
    .countdown {
        font-size: 1rem;
        margin: 0 !important;
    }

    /* home - sponsorship */
    #hero-image {
        width: 100% !important;
    }

    .small-btn {
        padding-left: 0 !important;
    }

    .image-wrapper {
        overflow: hidden;
    }

    .image-wrapper img {
        width: 150%;
    }

    .contact-btn {
        height: 40px;
        font-size: 20px;
    }

    .colour-grid {
        grid-template-columns: auto auto;
    }
    /* sponsorship page */


    /* sponorsable item page */
    .card-img-top img{
        width: 100% !important;
    }

    /* glassware */
    #cup-img {
        width: 100% !important;
    }
    /* contact us page */

    /* footer */
    .avandor-logo {
        width: 35%;
    }

    /* main homepage */
    .hero-img {
        width: 100% !important;
    }

    .small-nav {
        margin: auto !important;
    }

    .main-header {
        font-size: 1.3rem;
        margin-bottom: 10px !important;
    }

    .home-hr {
        margin-bottom: 2rem;
    }

    .sm-day-caption h1 {
        font-size: 40px;
    }

    .sm-day-caption h5 {
        font-size: 13px;
    }

    .sm-day-caption h6 {
        font-size: 13px !important;
    }

    .sm-find-out {
        padding: 5px 40px;
        font-size: 12px;
    }

    .banner-text h3 {
        font-size: 0.8rem;
    }

    .beer-detail h5 {
        font-size: 10px;
    }
    
    .beer-detail p {
        font-size: 8px;
    }

    .beer-sponsor {
        padding-right: 5px;
    }

    .menu-grid-wrapped {
        margin-bottom: 1rem;
    }

    .menu-h3 {
        font-size: 20px;
    }

    .menu-p {
        font-size: 15px;
    }

    .sponsors-grid-wrapped {
        grid-template-columns: auto auto auto auto;
        column-gap: 10px;
        row-gap: 10px;
    }

    .music-sponsor-logo h5 {
        font-size: 10px;
    }

    .music-schedule h4 {
        font-size: 15px;
    }

    .bck-to-top {
        padding: 13px 20px;
    }

    /* Andys Man Club */
    .andy-wrapped h1 {
        margin-top: 1rem;
        font-size: 2rem;
    }

    .andys-article-wrapped {
        column-count: 1;
    }

    /* homepage */
    .c-u-btn {
        width: 100%;
    }

    .avandor-banner-btn a {
        font-size: 1rem;
    }

    .avandor-banner-btn a:hover {
        font-size: 1.25rem;
    }

    

}