* {
    margin: 0;
    padding: 0;
    border: none;
}


body {
    font-weight: 300;
    font-family: 'Bai Jamjuree', sans-serif;
}

/* generic styles */


/* header */
.header {
    display: none;
}

#smaller-nav {
    display: none;
}

.head-bg {
    display: block;
}

.header-is-wrapped {
    background-color: transparent;
    height: 7.5rem;
    width: 100%;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    z-index: 2;
    top: 0px;
}

.header-content {
    padding: 0px 3rem;
}

.head-bg img {
    max-width: 100px;
    max-height: 100px;
    margin-top: 7px;
}

/* navigation list */
#menu {
    font-size: 150%;
    letter-spacing: 2px;
    text-align: right;

}

#menu li {
    display: inline;
    list-style-type: none;
    margin-right: 10px;
}

#menu a  {
    text-decoration: none;
    color: #000;
}

a.left{
    position: relative;
}

a.left:before {
  content: "";
  position: absolute;
  width: 0;
  margin-top: 20px;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

a.left:hover:before {
    visibility: visible;
    width: 100%;
}

/* back to top button */
.bck-to-top {
    display: none;
    position: fixed;
    bottom: 20px; 
    right: 30px; 
    z-index: 99; 
    border: none; 
    outline: none; 
    background-color: #000; 
    color:#fff; 
    cursor: pointer; 
    padding: 20px 25px; 
    border-radius: 10px; 
    font-size: 18px; 
    transition: all .5s;
}

.bck-to-top:hover {
    background-color: #fff;
    color: #000;
}

/* SECTION 1 */
.section-one {
    height: 100vh;
    overflow: hidden;
    background: #29abe2;
}

.first-sect {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.top-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    top: 7.5rem;
}

.hero-img {
    width: 60%;
}

.tickets {
    text-decoration: none;
    border: 3px solid #1F1E20;
    border-radius: 25px;
    background: none;
    transition: all .5s;
    color: #1F1E20;
    margin: 2rem 0;
    cursor: pointer;
    text-transform: capitalize;
    height: 100%;
    z-index: 2;
}

.tickets:hover {
    background: #000;
    color: #fff;
}

.tickets h5 {
    padding: 1rem 2rem;
    font-weight: 500;
    font-size: 1.5rem;
}

.cloud {
    width: 25%;
    height: auto;
    position: absolute;
}

.right-cloud {
    top: 10rem;
    right: 0;;
}

.left-cloud {
    top: 7rem;
    left: -20px;
}

.bottom-img {
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
}

/* SECTION 2 */
.section-two {
    margin: 0 3rem;
}

.event-sponsors {
    background: #fff;
    position: relative;
}

.sponsors-wrapped {
    padding: 1rem 3rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.heading-wrapped {
    padding: 1rem 0;
}

.heading-wrapped h1 {
    font-size: 3rem;
    text-align: left;
    text-transform: capitalize;
}

.sponsors-info {
    text-align: left;
}

.sponsor {
    width: 45%;
}

/* section 3 -- whats happening */

.section-three {
    background: #fff;
    margin: 0 3rem;
}

.content-para {
    padding-bottom: 1rem;
}

.content-wrapped {
    column-count: 4;
}

.box {
    width: 100%;
    /* border-bottom: 5px solid #000; */
    display: flex;
    flex-direction: column;
}

.box h1 {
    text-transform: capitalize;
}

.box img {
    width: 100%;
    margin-bottom: 1rem;
}

hr {
    border-top: 3px solid #000;
    width: 100%;
    margin: 1rem 0;
    border-bottom: none;
}

.box h2 {
    font-weight: 500;
    font-size: 1.25rem;
    text-align: left;
    padding-bottom: .5rem;
}

.box h3 { 
    font-weight: 300;
    font-size: 1rem;
    text-align: left;
    padding-bottom: .5rem;
}

.tickets-btn {
    text-decoration: none;
    border: 3px solid #1F1E20;
    border-radius: 25px;
    background: none;
    transition: all .5s;
    color: #1F1E20;
    margin: 2rem 0;
    cursor: pointer;
    text-transform: capitalize;
    z-index: 2;
    text-align: center;
}

.tickets-btn h5 {
    padding: 1rem 0;
    font-weight: 500;
    font-size: 1.25rem;
}

.tickets-btn:hover {
    background: #000;
    color: #fff;
}

/* section-4 -- map */
.section-four {
    height: 100vh;
    margin: 0 3rem;
}

/* section-5 -- menu */
.section-five {
    margin: 0 3rem;
}

.menu {

}

.beer-menu {
    column-count: 3;
}

.menu h2 {
    font-weight: 400;
}

.menu p {
    margin-bottom: 2rem;
}

.menu-text-wrapped{
    display: flex;
    flex-direction: column;
}


.menu li {
    list-style: none;
}

.menu-item {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.menu-item img {
    width: 15%;
    padding-right: 1rem;
}

.menu-item h3 {
    font-size: 1rem;
    font-weight: 400;
    text-transform: capitalize;
}

/* media queries */
@media (max-width: 1000px) {
    /* header */

    /* Hero img */
    .hero-img {
        width: 65%;
    }

    .tickets {
        margin: 2rem 0 0 0;
    }
    /* main sponsors */

    /* map */

    /* menu */

    /* sponsors */

    /* footer */

}

@media (max-width: 900px) {
    /* header */

    /* Hero img */
    .cloud {
        width: 23%;
    }

    .tickets h5 {
        font-size: 1.2rem;
    }
    /* main sponsors */

    /* map */

    /* menu */

    /* sponsors */

    /* footer */
    
}

@media (max-width: 800px) {
    /* header */

    /* Hero img */
    .top-wrapper {
        flex-direction: column;
        align-items: center;
    }

    .hero-img {
        width: 70%;
    }

    .right-cloud {
        top: 15rem;
    }
    /* main sponsors */

    /* map */

    /* menu */

    /* sponsors */

    /* footer */
    
}

@media (max-width: 700px) {
    /* header */

    /* Hero img */
    .hero-img {
        width: 80%;
    }

    /* main sponsors */

    /* map */

    /* menu */

    /* sponsors */

    /* footer */
    
}

@media (max-width: 600px) {
    /* header */

    /* Hero img */
    .hero-img {
        width: 90%;
    }

    .tickets h5 {
        font-size: 1.5rem;
    }

    .tickets {
        margin: 3rem 0 0 0;
    }

    /* main sponsors */

    /* map */

    /* menu */

    /* sponsors */

    /* footer */
    
}

@media (max-width: 500px) {
    /* header */

    /* Hero img */
    .tickets {
        margin: 5rem 0 0 0;
    }

    /* main sponsors */

    /* map */

    /* menu */

    /* sponsors */

    /* footer */
    
}

@media (max-width: 400px) {
    /* header */

    /* Hero img */
    .tickets {
        margin: 7rem 0 0 0;
    }

    /* main sponsors */

    /* map */

    /* menu */

    /* sponsors */

    /* footer */
    
}

@media (max-width: 300px) {
    /* header */

    /* Hero img */

    /* main sponsors */

    /* map */

    /* menu */

    /* sponsors */

    /* footer */
    
}