* {
    margin: 0;
    padding: 0;
    border: none;
}


body {
    font-weight: 300;
    font-family: 'Bai Jamjuree', sans-serif;
    background: #fff;
    overflow-x: hidden;
}

/* generic */
a {
    text-decoration: none;
}
/* header */ 

header {
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    background: #00DAEE;
}

.header-is-wrapped {
    padding: 5%;
}

.header-logo {
    width: 100%;
    
}

.header-is-wrapped img {
    width: 15%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/* placeholder */
.new-placeholder {
    width: 100%;
}

.new-placeholder img {
    width: 100%;
}
